.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
.modal.show {
    display: flex;
}
  
.modal-dialog {
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
}
  
.modal-content {
    border-radius: 6px;
}
  
.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
}

.modal-header .close {
    color: #3A4654;
    border-color: #3A4654;
    width: 26px;
    height: 26px;
    display: flex;
    text-align: center;
    font-size: 14px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.modal-header .close:hover {
    background-color: red;
    color: white;
}

  
.modal-title {
    font-weight: bold;
    font-family: 'Times New Roman';
}
  
.modal-body {
    padding: 20px;
}
  
.modal-footer {
    padding: 10px 20px;
    border-top: 1px solid #e9ecef;
}

.modal-footer .btn-secondary {
    background-color: #3A4654;
    border: none;
    color: white;
}

.modal-footer .btn-secondary:hover {
    background-color: #F2E3DC;
    color: #3A4654;
}
    
.modal-footer .btn-danger {
    background-color: red;
    border: none;
    color: white;
}

.modal-footer .btn-danger:hover {
    background-color: #F2E3DC;
    color: #3A4654;
}



