* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #3A4654;
  margin: 0;
  margin-top: 50px; /* Reset default margin */
  display: flex;
  justify-content: center;
  margin-top: 20px;
  min-height: 100vh; /* Ensure full viewport height */
  
}

.container {
  background-color: #F2E3DC;
  color: #3A4654;
  font-family: 'Times New Roman';
  max-width: 100%;
  padding: 0 100px 50px 100px;
  border: 2px solid #3A4654;
  border-radius: 5px;
  box-shadow: 0 50px 50px white(0, 0, 0, 0.2);
  
}

h2 {
  font-family: 'times new roman';
  font-stretch: expanded;
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 0px;

}

.App {
  text-align: center;
}

.taskBg {
  background-color: #3A4654;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
  font-family: 'Times New Roman';
  color: #F2E3DC;
  
}

.taskBg div{
  display: flex;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.taskNumber{
  color: white;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
}
.taskBg .taskText {
  flex: 1;
  font-family: 'Times New Roman';
  letter-spacing: 1px;
}

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.5;
}


.iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}


.taskBg .iconsWrap span{
  display: inline-block;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  color: white;
}

.taskBg .iconsWrap span:hover {
  color: #B3B5AB;
}

.mr-20{
  margin-right: 20px;
  background-color: #3A4654;
  border: none;
  color: #F2E3DC;
}

.row .col-auto .btn-success {
  background-color: #3A4654;
  border: none;
  color: white;
}

.form-control-lg {
  border: #3A4654;
  outline-color: #3A4654;
}

.row .col:placeholder {
  color: #3A4654;
}

.row .col-auto .btn-success:hover {
  color: #B3B5AB;
}

.btn-warning {
  margin-right: 20px;
  background-color: white;
  border: none;
  color: #3A4654;
}

.btn-warning:hover {
  color: #B3B5AB;
  background-color: white;
}








